%head
  %link{:href => "http://fonts.googleapis.com/css?family=Varela+Round", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel => "stylesheet"}
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
  %script{:src => "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"}

%body
  .container-fluid
    .content-box
      .row
        .create-account
          %h1 Create an account
          .row
            .form-spacing
              =form_for @empty_user, url: { action: "create" }  do |f| 
                =f.label :name, :class=>"field-text"
                =f.text_field :name, :class=>"input-field spacing"
                </br>
                =f.label :email, :class=>"field-text"
                =f.email_field :email, :class=>"input-field spacing"
                </br>
                =f.label :birthday, :class=>"field-text"
                =f.date_field :birthday, :class=>"input-field spacing"
                </br>
                =f.label :driver, :class=>"field-text"
                -# TODO add 'select one' as default but not valid input
                -# TODO change "driver" to "I want to"
                =f.select(:driver, [['Drive and Ride', 1], ['Just Ride', 2]], :class=>"input-field spacing form-control")
                </br>
                </br>
                =f.submit "Create account", :class=>"submit btn btn-default col-md-5 col-md-offset-3"
               
              </br>
              =link_to "Sign up with Google", user_omniauth_authorize_path(:google_oauth2), :class=>"sign-up-google col-md-5 col-md-offset-3"
