
.div_to_change
  -if @num_ahead==0 && @driver.rider_available?
    Waiting for rider to confirm pickup ...
  -else
    You are now waiting for ride requests
    <br>
    Number of drivers waiting ahead of you: #{@num_ahead}
    <br>
    =link_to "I'm Done Waiting.", [@user,@driver], method: :delete
