// Place all the styles related to the Riders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//**global styling**//
body {
    background-image: url(/assets/background-img.jpg);
    background-size: cover;
    font-family: 'Varela Round', sans-serif;
    //filter: blur(15px);
}
h1 {
    margin: 0;
}
h2 {
    margin-top: 0;
}
.content-box {
    background-color: rgba(226, 231, 241, 0.8);
    border: 2px solid #e2e7f1;
    border-radius: 25px;
    width: 45%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5.5%;
    padding: 3% 4% 3% 4%;
}
.title-text {
    font-family: 'Varela Round', sans-serif;
    font-size: 155%;  
    margin-top: -24px;
}
.main-btn {
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-bottom: 0px;
    text-size: 20px;
    color: #5B5F68;
    background-color: white;
    width: 200px;
}
.main-btn:hover {
    text-decoration: none;
    color: #494C53;
    background-color: #E6E6E6;
}


//** ready to go styling **//

.not-btn-btn {
    text-decoration: none;
    color: #5B5F68;
}
.not-btn-btn:hover {
    text-decoration: none;
    color: #202020;
}
.small-txt {
    font-size: 20px; 
}
.h3-styling {
    font-size: 20px;
}
