// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//**general user model styling**//
#header {
    visibility: hidden;
}
body {
    background-image: url(/assets/background-img.jpg);
    background-size: cover;
    font-family: 'Varela Round', sans-serif;
    //filter: blur(15px);
}
h1 {
    margin: 0;
}
h2 {
    margin-top: 0;
}
.content-box {
    background-color: rgba(226, 231, 241, 0.8);
    border: 2px solid #e2e7f1;
    border-radius: 25px;
    width: 45%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5.5%;
    padding: 3% 4% 3% 4%;
}
.title-text {
    font-family: 'Varela Round', sans-serif;
    font-size: 155%;  
    margin-top: -24px;
}
.text-blurb {
    font-size: 80%;
    margin: 0;
    margin-bottom: 10%;
}
.main-btn {
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-bottom: 0px;
    text-size: 20px;
    color: #5B5F68;
    background-color: white;
    width: 200px;
}
.main-btn:hover {
    text-decoration: none;
    color: #494C53;
    background-color: #E6E6E6;
}
.google-signup {
    text-decoration: none;
    color: #5B5F68;
    margin-left: -10px;

}
.google-signup:hover {
    text-decoration: none;
    color: #494C53;
}
.spacing {
    margin-bottom: 5px;
}
//**welcome page styling**//
#notice {
    display: none;
}
.welcome {
    margin-bottom: 10%;
}
.add-bottom-margin {
    margin-bottom: 10px;
}

//**sign up for account page styling**//
.field-text {
    font-family: 'Varela Round', sans-serif;
    font-size: 100%;
}
.input-field {
    line-height: 22px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.create-account {
    font-family: 'Varela Round', sans-serif;
    font-size: 155%;   
}
.form-spacing {
    margin-left: 8%;
    margin-top: 4%;
}
.sign-up-google {
    font-family: 'Varela Round', sans-serif;
    font-size: 100%;
    text-decoration: none;
    margin-top: 2%;
    font-color: #5B5F68;
    font-size: 75%;
}
.sign-up-google:hover {
    //margin-top: 1%;
    text-decoration: none;
    font-color: #494C53;
}

//** edit account information page styling **//
#driver-info {
    display: none;
    margin-bottom: 12px;
}
.edit_user {
    font-size: 18px;
}
#user_birthday {
    font-size: 18px;
    height: 34px; 
}
.driver-note {
    margin: -10px 0px 10px 19px;
    font-size: 14px;
}
.car-info {
    padding-top: 10px;
    margin-bottom: 2px;
    font-size: 16px;
}
input {
    margin-bottom: 6px !important;
}
.top-spacing {
    margin-top: 6px;
}

//**report a problem page styling**//
.not-btn-btn {
    text-decoration: none;
    color: #5B5F68;
}
.not-btn-btn:hover {
    text-decoration: none;
    color: #202020;
}
.smaller-txt {
    margin-top: 6px;
    font-size: 14px; 
}

