%head
  %link{:href => "http://fonts.googleapis.com/css?family=Varela+Round", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel => "stylesheet"}
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
  %script{:src => "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"}

%body
  .container-fluid
    .content-box
      .row
        .title-text.text-center
          %h2 Let the passengers know you're here:
          =form_for @ride, url: {action:"update_drive_to_pickup"} do |f|
            =f.submit "I'm here!", :class => "main-btn btn btn-lg btn-spacing"
