<meta http-equiv="Refresh" Content="5">
%head
  %link{:href => "http://fonts.googleapis.com/css?family=Varela+Round", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel => "stylesheet"}
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
  %script{:src => "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"}

%body
  .container-fluid
    .content-box
      .row
        .title-text.text-center
          %h1 And we're waiting...
          </br>
          .sub-title 
            The passengers have confirmed the ride  
            </br>
            and should  be sending over a pick up 
            </br>
            location shortly.
